<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a BananaCat/title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hola {{data.name}},</h1>
<p>
    Para activar a su cuenta, basta con hacer click <a href="{{data.url}}">aqui</a>.
</p>
<h2>Para que sirve?</h2>
<p>
    Tener una cuenta en BananaCat permite acelerar el proceso de checkout(compra), guardardando sus direcciones
     mas usadas para envio y facturacion. Para su proxima compra, solamente precisara seleccionar el metodo de envio y pago! Simple :)
</p>
<p>
    Tambien podra visualizar el historial de pedidos y sus detalles.
</p>
<h2>Dudas?</h2>
<p>
    Contactenos en:
    <br>
    <a href="mailto:ventas@bananacat.co">ventas@bananacat.co</a>
</p>
<hr>
<footer>
    Atte. El equipo de bananaCat
    <br>
    <a href="{{base.storefrontUrl}}">bananaCat.co</a>
</footer>
</body>
</html>
