<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Tienda 765/title>
    <style>
        footer {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Hola {{data.name}},</h1>
<p>
    Para activar a su cuenta, basta con hacer click <a href="{{data.url}}">aqui</a>.
</p>
<h2>Para que sirve?</h2>
<p>
    Tener una cuenta en Tienda765 permite acelerar el proceso de checkout(compra), guardando sus direcciones mas usadas para envio y facturacion. Para su proxima compra, solamente precisara seleccionar el metodo de envio y pago! Simple :)
</p>
<p>
    Tambien podra visualizar el historial de pedidos y sus detalles.
</p>
<h2>Dudas?</h2>
<p>
    Contactenos en el siguiente mail por cualquier duda o consulta:
    <br>
    <a href="mailto:contacto@tienda765.com">contacto@tienda765.com</a>
</p>
<hr>
<footer>
    Atte. El equipo de Tienda 765
    <br>
    <a href="{{base.storefrontUrl}}">Tienda765.com</a>
</footer>
</body>
</html>
